body {
  margin: 0;
  background-color: transparent !important;
}
body::before{
  content: "";
  background-image: url("../public//logo512.png");
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
